.main-background{
 /* border: 1px solid #fff; */
 height:842px;
 width:1490px;   
 display: flex;
 justify-content: center;
 align-items: center;
}
.main-mini-background{
    height:840px;
    width:1240px;
    padding: 20px;
    overflow-y:scroll;
    border-radius: 12px;
}
.project-main-container{
    height:1800px;
    width:1200px;
    border-radius: 12px;
    line-height: 24px;
}
.each-project-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 40px;
}
.project-photo-background{
    height: 575px;
    width:1200px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}
.project-photo{
    border:1px solid #fff;
    border-radius: 16px;
    margin: 0px 20px;
    height: 400px;
    width:600px;
    transition: all 0.2s ease-in-out;
}
.project-photo:hover{
    height:440px;
    width: 640px;
}
.project-photo-left-section{
    min-height: 400px;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    font-size: larger;
    font-weight: bolder;
}
.project-photo-right-section{
    min-height: 400px;
    min-width:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    font-size: larger;
    font-weight: bolder
}

.blur-left-left{
    height:402px;
    width:50px;
    position: absolute;
    backdrop-filter: blur(8px);
}
.blur-left{
    height:402px;
    width:200px;
    position: absolute;
    backdrop-filter: blur(10px);
    margin-left:50px ;
}

.blur-right{
    height:402px;
    width:200px;
    position: absolute;
    backdrop-filter: blur(10px);
    margin-left: 950px;
}
.blur-right-right{
    height:402px;
    width:50px;
    position: absolute;
    backdrop-filter: blur(8px);
    margin-left:1150px ;
}
